@model AppointmentTokenGenerator.Models.DoctorModel

@{
    Layout = "~//Views//Shared//_DoctorLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>DoctorModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DoctorID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DoctorID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoginID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoginID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DoctorName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DoctorName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TypeID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TypeID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Details)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Details)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Photo)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
