@model E_health_care.Models.ChargesModel

@{
    Layout = "~//Views//Shared//_DoctorLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ChargesModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ChargesID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChargesID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DoctorID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DoctorID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClinicID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClinicID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NewCaseCharge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NewCaseCharge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OldCaseCharge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OldCaseCharge)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
