<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-Health Care</title>
    
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link href="~/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE F
        ONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">E-Health Care</a>
            </div>
            
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                       
                        <img src="../assets/img/find_user.png" class="user-image img-responsive" />
                    </li>

                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Member", "Create", "Member", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Doctor", "Create", "Doctor", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

                    <li>@Html.ActionLink("Log in", "Authenticate", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     
                        @RenderBody()


                                </div>
                            </div>
                        </div>
                        <div class="container body-content">
                            <hr />
                            <footer>
                                <p>&copy; @DateTime.Now.Year - Crucial Software and IT Park pvt ltd.</p>
                            </footer>
                        </div>

                        @Scripts.Render("~/bundles/jquery")
                        @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/jqueryval")
                        @RenderSection("scripts", required: false)
</body>
</html>
